@inherits LayoutComponentBase

<div class="main-content">
    <div class="header-wrapper">
        <header>
            <img src="svgs/logo.svg" />
            <div>English Master</div>
            <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
                <Authorized>
                    <img class="profile-picture" src="@GetProfilePicture(context)" />
                    <EnglishMaster.Client.Shared.ApiAuthentication AuthenticationState="@context" />
                </Authorized>
            </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </header>
    </div>
    <article>
        @Body
    </article>
    <NavView />
</div>
<Loader />
<EnglishMaster.Client.Shared.UpdateAvailableDetector />