@inherits LayoutComponentBase

<div class="main-content">
    <div class="header-wrapper">
        <header>
            <img src="svgs/logo.svg" />
            <div>English Master</div>
        </header>
    </div>
    <article>
        @Body
    </article>
    <NavView />
</div>
<Loader />
<EnglishMaster.Client.Shared.UpdateAvailableDetector />