<div class="flush-card-wrapper">
    @if (_question == null)
    {
        <button>Start !</button>
    }
    else
    {
        <div class="progress">
            <div class="no">1/10</div>
        </div>
        <div class="flush-card">
        <div class="word">@_question.Word</div>
        @if (_isShowAnswered)
            {
                <div class="word-details">
                    <div class="word-detail">
                        <div class="header">名詞</div>
                        <div class="word-mean">
                            <div>単語</div>
                        </div>
                    </div>
                    <div class="word-detail">
                        <div class="header">動詞</div>
                        <div class="word-mean">
                            <div>何か長い意味！</div>
                            <div>何か長い意味！</div>
                            <div>何か長い意味！</div>
                        </div>
                    </div>
                    <div class="word-detail">
                        <div class="header">助動詞</div>
                        <div class="word-mean">
                            <div>何か長い意味！</div>
                            <div>何か長い意味！</div>
                            <div>何か長い意味！</div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <button @onclick=@(() => _isShowAnswered = true)>SHOW ANSWER</button>
            }
        </div>
        <div>
        <div class="result-btn-area">
            <button class="btn-icon">
                <img src="svgs/yes.svg" />
            </button>
            <button class="btn-icon">
                <img src="svgs/no.svg" />
            </button>
        </div>
    </div>
    }
</div>