@inherits ViewBase
@inject FlushCardQuestionClientService FlushCardQuestionClientService
@inject FlushCardResultClientService FlushCardResultClientService
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
<div class="flush-card-wrapper">
    @if (_question == null)
    {
        <button @onclick=@StartButtonOnClick>Start !</button>
    }
    else
    {
        <div class="progress">
            <div class="no">@(_idx + 1)/@(_questions.Count)</div>
        </div>
        <div class="flush-card">
        <div class="word">@_question.Word</div>
        @if (_isShowAnswered)
            {
                <div class="word-details">
                    @foreach (KeyValuePair<string, List<string>> mean in _question.Means)
                    {
                        <div class="word-detail">
                            <div class="header">@mean.Key</div>
                            <div class="word-mean">
                                @foreach (string wordMean in mean.Value)
                                {
                                    <div>@wordMean</div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <button @onclick=@(() => _isShowAnswered = true)>SHOW ANSWER</button>
            }
        </div>
        <div>
            <div class="result-btn-area">
                <button @onclick=@OKButtonOnClick class="btn-icon">
                    <img src="svgs/yes.svg" />
                </button>
                <button @onclick=@NGButtonOnClick class="btn-icon">
                    <img src="svgs/no.svg" />
                </button>
            </div>
        </div>
    }
</div>