@inherits ViewBase
@inject NavigationManager NavigationManager
<div class="dialog-wrapper">
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">Reload required</div>
            <button @onclick=@CloseButtonOnClick class="btn-icon">
                <img src="svgs/close.svg" />
            </button>
        </div>
        <div class="dialog-body">
            @StateContainer.DialogContent?.Message
        </div>
        <div class="dialog-action">
            <button class="ok-btn" @onclick=@OkButtonOnClick>OK</button>
        </div>
    </div>
</div>
