<label for="switch-@_identifier" class="toggle-switchy" data-style="rounded" data-size="sm">
    <input value=@IsSelected @onchange=SelectionChanged type="checkbox" id="switch-@_identifier">
    <span class="toggle">
        <span class="switch"></span>
    </span>
</label>