.word-card {
    width: 100%;
    box-shadow: 0 0 4px var(--app-primary-100);
    border-radius: .5rem;
    padding: .8rem;
}

.word {
    font-size: 18px;
    font-weight: bold;
}

.desc {
    padding: 0 .5rem;
    padding-top: .2rem;
    font-size: 14px;
    opacity: .9;
}
