@page "/achievement"
@inherits ViewBase
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject AchivementClientService AchivementClientService
@inject LineChartClientService LineChartClientService
@inject RadarChartClientService RadarChartClientService
<PageTitle>Achievement</PageTitle>
<AuthorizeView>
    <Authorized>
        <div>これはサンプルデータです。ただいま移行中につきひょうじできません。</div>
        @if (_config != null)
        {
            <Chart Config="_config"></Chart>
        }
        @if (_config1 != null)
        {
            <Chart Config="_config1"></Chart>
        }
    </Authorized>
    <NotAuthorized>
        <div class="not-authorized-area">
            <div class="wrapper">
                <div class="desc">Log in to see your achievement</div>
                <button class="btn-login" @onclick=@LoginButtonOnClick>Login with Google</button>
            </div>
            @if (_config != null)
            {
                <Chart Config="_config"></Chart>
            }
            @if (_config1 != null)
            {
                <Chart Config="_config1"></Chart>
            }
        </div>
    </NotAuthorized>
    <Authorizing>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </Authorizing>
</AuthorizeView>