@page "/dictionary"
@inherits PageBase

<PageTitle>Dictionary</PageTitle>
<div class="dictionary-area">
    <div class="search-area">
        <input type="search" placeholder="Search" />
        <div class="search-info">Number of words:9304</div>
    </div>
    <ul>
        @for (int i = 0; i <= 1000; i++)
        {
            <li>
                <WordCard />
            </li>
        }
    </ul>
</div>