@page "/dictionary"
@inherits PageBase
@inject IHttpClientService HttpClientService

<PageTitle>Dictionary</PageTitle>
<div class="dictionary-area">
    <div class="search-area">
        <input type="search" placeholder="Search" />
        <div class="search-info">Number of words:@_dictionaries.Count()</div>
    </div>
    <ul>
        @foreach (DictionaryWordResponseDto dictionary in _dictionaries)
        {
            <li>
                <WordCard Dictionary="dictionary" />
            </li>
        }
    </ul>
</div>