@page "/dictionary"
@inherits ViewBase
@inject DictionaryClientService DictionaryClientService

<PageTitle>Dictionary</PageTitle>
<div class="dictionary-area">
    <div class="search-area">
        <input type="search" placeholder="Search" @oninput=@SearchInputOnChanged />
        <div class="search-info">Number of words:@_dictionaries.Count()</div>
    </div>
    <ul>
        <Virtualize Context="dictionary" Items="@_dictionaries">
            <li>
                <WordCard Dictionary="dictionary" />
            </li>
        </Virtualize>
    </ul>
</div>