@page "/"
@inherits PageBase
@inject NavigationManager NavigationManager
@inject IHttpClientService HttpClientService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div>Welcome back, @_loginUserInfo?.GetDisplayName()!</div>
        <div class="achievement-area">
            <div class="total-achivement">
                <ProgressCircle Value="35" />
            </div>
            <div class="achievement-item">
                <div>英検２級</div>
                <div class="progress">
                    <ProgressBar Value="0" HasDisplayValue="true" />
                </div>
                <details>
                    <summary>Details by part of speech</summary>
                    <ul>
                        <li class="achievement-item">
                            <div>Noun</div>
                            <div class="progress">
                                <ProgressBar Value="0" HasDisplayValue="true" />
                            </div>
                        </li>
                        <li class="achievement-item">
                            <div>Verb</div>
                            <div class="progress">
                                <ProgressBar Value="0" HasDisplayValue="true" />
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="achievement-item">
                <div>英検準２級</div>
                <div class="progress">
                    <ProgressBar Value="30" HasDisplayValue="true" />
                </div>
                <details>
                    <summary>Details by part of speech</summary>
                    <ul>
                        <li class="achievement-item">
                            <div>Noun</div>
                            <div class="progress">
                                <ProgressBar Value="14.555" HasDisplayValue="true" />
                            </div>
                        </li>
                        <li class="achievement-item">
                            <div>Verb</div>
                            <div class="progress">
                                <ProgressBar Value="45.559" HasDisplayValue="true" />
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="achievement-item">
                <div>ITソフト英語</div>
                <div class="progress">
                    <ProgressBar Value="100" HasDisplayValue="true" />
                </div>
                <details>
                    <summary>Details by part of speech</summary>
                    <ul>
                        <li class="achievement-item">
                            <div>Noun</div>
                            <div class="progress">
                                <ProgressBar Value="100" HasDisplayValue="true" />
                            </div>
                        </li>
                        <li class="achievement-item">
                            <div>Verb</div>
                            <div class="progress">
                                <ProgressBar Value="100" HasDisplayValue="true" />
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="not-login desc">Log in to record your learning</div>
        <button class="not-login btn-login" @onclick=@LoginButtonOnClick>Login with Google</button>
    </NotAuthorized>
    <Authorizing>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </Authorizing>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>