@page "/"
@inherits PageBase
@inject NavigationManager NavigationManager
@inject IHttpClientService HttpClientService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div>Welcome back, @_loginUserInfo?.GetDisplayName()!</div>
    </Authorized>
    <NotAuthorized>
        <div class="not-login desc">Log in to record your learning</div>
        <button class="not-login btn-login" @onclick=@LoginButtonOnClick>Login with Google</button>
    </NotAuthorized>
    <Authorizing>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </Authorizing>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>