@page "/info"
@inherits ViewBase

<PageTitle>Info</PageTitle>
<div class="info-area">
    <h2>About English Master</h2>
    <img class="info-logo" src="svgs/logo.svg" />
    <div class="desc-area">
        &ensp;このアプリケーションは
        <a href="https://dotnet.microsoft.com/ja-jp/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a>
        とWebアプリの勉強のために作成しました。今後も様々な機能を追加していきたいと思いますのでたまに見に来ると変わっているかもしれません。
        <a href="https://github.com/fukicycle/english-master" target="_blank">ソース</a>
        はすべて公開します。
    </div>
    <div class="other-area">
        <h2>Developer</h2>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.1875 7.8125H7.8125C6.9837 7.8125 6.18884 8.14174 5.60279 8.72779C5.01674 9.31384 4.6875 10.1087 4.6875 10.9375V39.0625C4.6875 39.8913 5.01674 40.6862 5.60279 41.2722C6.18884 41.8583 6.9837 42.1875 7.8125 42.1875H42.1875C43.0163 42.1875 43.8112 41.8583 44.3972 41.2722C44.9833 40.6862 45.3125 39.8913 45.3125 39.0625V10.9375C45.3125 10.1087 44.9833 9.31384 44.3972 8.72779C43.8112 8.14174 43.0163 7.8125 42.1875 7.8125ZM18.125 28.4375C18.4565 28.6861 18.6757 29.0563 18.7343 29.4665C18.7929 29.8768 18.6861 30.2935 18.4375 30.625C18.1889 30.9565 17.8187 31.1757 17.4085 31.2343C16.9982 31.2929 16.5815 31.1861 16.25 30.9375L10 26.25C9.80594 26.1045 9.64844 25.9157 9.53996 25.6988C9.43148 25.4818 9.375 25.2426 9.375 25C9.375 24.7574 9.43148 24.5182 9.53996 24.3012C9.64844 24.0843 9.80594 23.8955 10 23.75L16.25 19.0625C16.5815 18.8139 16.9982 18.7071 17.4085 18.7657C17.8187 18.8243 18.1889 19.0435 18.4375 19.375C18.6861 19.7065 18.7929 20.1232 18.7343 20.5335C18.6757 20.9437 18.4565 21.3139 18.125 21.5625L13.541 25L18.125 28.4375ZM29.627 14.4922L23.377 36.3672C23.3237 36.568 23.2309 36.7561 23.1041 36.9206C22.9772 37.0851 22.8188 37.2227 22.6382 37.3253C22.4576 37.4278 22.2583 37.4934 22.052 37.518C21.8458 37.5426 21.6366 37.5259 21.4369 37.4688C21.2372 37.4116 21.0509 37.3152 20.8889 37.1852C20.7268 37.0552 20.5924 36.8942 20.4933 36.7116C20.3942 36.5291 20.3326 36.3285 20.3119 36.1218C20.2913 35.9151 20.3121 35.7064 20.373 35.5078L26.623 13.6328C26.7432 13.2417 27.0119 12.9133 27.3716 12.7181C27.7312 12.523 28.1531 12.4768 28.5465 12.5893C28.9399 12.7018 29.2734 12.9642 29.4754 13.32C29.6775 13.6758 29.7319 14.0967 29.627 14.4922ZM40 26.25L33.75 30.9375C33.4185 31.1861 33.0018 31.2929 32.5915 31.2343C32.1813 31.1757 31.8111 30.9565 31.5625 30.625C31.3139 30.2935 31.2071 29.8768 31.2657 29.4665C31.3243 29.0563 31.5435 28.6861 31.875 28.4375L36.459 25L31.875 21.5625C31.7108 21.4394 31.5726 21.2851 31.468 21.1086C31.3635 20.932 31.2947 20.7366 31.2657 20.5335C31.2367 20.3303 31.248 20.1235 31.2989 19.9247C31.3498 19.7259 31.4394 19.5392 31.5625 19.375C31.6856 19.2108 31.8399 19.0726 32.0164 18.968C32.193 18.8635 32.3884 18.7947 32.5915 18.7657C32.7947 18.7367 33.0015 18.748 33.2003 18.7989C33.3991 18.8498 33.5858 18.9394 33.75 19.0625L40 23.75C40.1941 23.8955 40.3516 24.0843 40.46 24.3012C40.5685 24.5182 40.625 24.7574 40.625 25C40.625 25.2426 40.5685 25.4818 40.46 25.6988C40.3516 25.9157 40.1941 26.1045 40 26.25Z" fill="#D7E7FE" />
            </svg>
            <span>Fuki Sato</span>
        </div>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M46.8721 10.9362C46.8721 11.962 46.3064 12.9778 45.2072 13.9255C44.108 14.8733 42.4969 15.7344 40.4659 16.4597C38.4349 17.1851 36.0237 17.7605 33.3701 18.1531C30.7165 18.5456 27.8723 18.7477 25 18.7477C19.1992 18.7477 13.6359 17.9247 9.53411 16.4597C5.4323 14.9948 3.12793 13.0079 3.12793 10.9362C3.12793 9.9104 3.69367 8.89463 4.79284 7.9469C5.89202 6.99917 7.5031 6.13804 9.53411 5.41268C11.5651 4.68732 13.9763 4.11193 16.6299 3.71937C19.2836 3.3268 22.1277 3.12476 25 3.12476C27.8723 3.12476 30.7165 3.3268 33.3701 3.71937C36.0237 4.11193 38.4349 4.68732 40.4659 5.41268C42.4969 6.13804 44.108 6.99917 45.2072 7.9469C46.3064 8.89463 46.8721 9.9104 46.8721 10.9362Z" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M46.8721 39.0574C46.8721 40.4286 45.8615 41.7756 43.9418 42.9631C42.0221 44.1506 39.261 45.1367 35.9361 45.8223C32.6111 46.5079 28.8394 46.8688 25 46.8688C21.1607 46.8688 17.3889 46.5079 14.064 45.8223C10.739 45.1367 7.97791 44.1506 6.05823 42.9631C4.13856 41.7756 3.12793 40.4286 3.12793 39.0574" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M46.8721 29.6836C46.8721 31.0548 45.8615 32.4018 43.9418 33.5893C42.0221 34.7768 39.261 35.7629 35.9361 36.4485C32.6111 37.1341 28.8394 37.4951 25 37.4951C21.1607 37.4951 17.3889 37.1341 14.064 36.4485C10.739 35.7629 7.97791 34.7768 6.05823 33.5893C4.13856 32.4018 3.12793 31.0548 3.12793 29.6836" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M46.8721 20.3101C46.8721 21.6813 45.8615 23.0283 43.9418 24.2158C42.0221 25.4033 39.261 26.3894 35.9361 27.075C32.6111 27.7606 28.8394 28.1215 25 28.1215C21.1607 28.1215 17.3889 27.7606 14.064 27.075C10.739 26.3894 7.97791 25.4033 6.05823 24.2158C4.13856 23.0283 3.12793 21.6813 3.12793 20.3101" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.12793 10.9363V39.0575" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M46.8721 10.9363V39.0575" stroke="#D7E7FE" stroke-width="3.125" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>Junya Kaneko</span>
        </div>
    </div>
    <div class="other-area">
        <h2>Frameworks</h2>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_504_75)">
                    <path d="M0 0H50V50H0V0Z" fill="#512BD4" />
                    <path d="M8.91151 31.9443C8.558 31.9443 8.25761 31.8266 8.01014 31.591C7.76268 31.3494 7.63885 31.0623 7.63885 30.7301C7.63885 30.3918 7.76268 30.102 8.00995 29.8602C8.25761 29.6186 8.558 29.4977 8.91151 29.4977C9.27089 29.4977 9.5744 29.6186 9.82186 29.8602C10.0754 30.102 10.2019 30.3918 10.2019 30.7301C10.2019 31.0623 10.0754 31.3492 9.82186 31.591C9.5744 31.8266 9.27108 31.9445 8.91171 31.9445M23.0447 31.7453H20.7469L14.6924 22.1934C14.5412 21.9558 14.4139 21.704 14.3123 21.4414H14.2592L14.2683 21.501L14.2767 21.5693L14.2846 21.6461L14.292 21.7312L14.3016 21.875L14.3098 22.0375L14.3166 22.2191L14.3221 22.4199L14.326 22.6396L14.3279 22.7969L14.3299 23.2266V31.7449H12.2971V18.75H14.7453L20.5963 28.0748L20.7408 28.3031L20.834 28.4531L20.9137 28.585L20.9801 28.6988L21.0172 28.7648L21.0484 28.8227L21.0738 28.8725H21.109L21.1023 28.8314L21.0898 28.7436L21.0781 28.6473L21.0678 28.5424C21.0661 28.5238 21.0646 28.5053 21.0631 28.4867L21.0541 28.3691L21.0463 28.2432L21.0394 28.1084L21.0312 27.8908L21.0254 27.6541L21.0219 27.3982L21.0207 27.1234V18.75H23.0445L23.0447 31.7453ZM32.9441 31.7453H25.8293V18.75H32.6613V20.5807H27.9328V24.2598H32.2902V26.0812H27.9328V29.9236H32.9441V31.7453ZM43.0558 20.5809H39.4141V31.7453H37.3105V20.5809H33.6777V18.75H43.0555L43.0558 20.5809Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_504_75">
                        <rect width="50" height="50" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <span>.NET</span>
        </div>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_504_89)">
                    <path d="M49.7468 16.8747C47.5097 30.8946 35.4648 41.2415 21.2695 41.3407C19.8771 41.3939 18.4828 41.3091 17.107 41.0876C11.1773 40.0821 6.757 35.0712 6.49763 29.0622C6.54646 22.2903 12.0242 16.8126 18.7976 16.7637C25.5711 16.7149 31.125 22.1161 31.2683 28.8879C31.3187 30.9403 30.4304 32.7438 28.6027 32.7942C26.6496 32.7942 25.734 31.3997 25.734 29.5212V24.3028C25.7348 23.4589 25.4019 22.649 24.808 22.0496C24.214 21.4502 23.4071 21.11 22.5633 21.1032H18.1871C14.6804 21.079 11.6121 23.4516 10.7515 26.8512C9.89099 30.2508 11.464 33.7969 14.5601 35.4434C16.0648 36.243 17.794 36.515 19.4715 36.2159C21.1489 35.9169 22.6776 35.0641 23.8133 33.7938L23.966 33.5665L24.1187 33.8184C24.645 34.5334 25.3398 35.1073 26.1414 35.4891C26.9429 35.8709 27.8264 36.0487 28.7133 36.0067C30.2934 35.8919 31.7661 35.1639 32.8168 33.9781C33.8675 32.7923 34.4129 31.2427 34.3367 29.6602C34.3526 28.3019 34.2004 26.9468 33.8836 25.6258C33.0721 21.8946 30.9082 18.5958 27.809 16.3652C24.7098 14.1346 20.8946 13.1301 17.0988 13.5454C9.2363 14.4059 3.29294 21.0633 3.32497 28.9719C3.42732 37.3872 10.1656 44.2153 18.5777 44.4274C18.5777 44.4274 19.7222 44.5313 21.016 44.5036C27.2952 44.4625 33.4323 42.6309 38.707 39.2239C38.7816 39.1751 38.8566 39.2743 38.8062 39.352C36.2381 42.1181 33.098 44.2911 29.6045 45.72C26.111 47.1488 22.3481 47.7991 18.5777 47.6254C16.1131 47.6698 13.665 47.2145 11.3811 46.2871C9.09718 45.3597 7.02474 43.9794 5.28874 42.2294C3.55275 40.4793 2.18916 38.3958 1.28021 36.1045C0.371248 33.8132 -0.06425 31.3615 -2.85357e-05 28.8973C0.00145248 25.9592 0.688103 23.0619 2.00537 20.4357C3.32264 17.8094 5.23422 15.5265 7.58825 13.7684C10.7519 11.4396 14.5744 10.1779 18.5027 10.1657H24.3742C26.6682 10.1641 28.9366 9.68476 31.0352 8.75821C33.1337 7.83165 35.0162 6.47819 36.5629 4.78404C36.5956 4.74795 36.639 4.72318 36.6867 4.71328C36.7344 4.70339 36.7841 4.70888 36.8285 4.72896C36.8734 4.74833 36.911 4.78129 36.9362 4.8232C36.9613 4.8651 36.9727 4.91385 36.9687 4.96256C36.72 7.60211 35.8409 10.1433 34.4054 12.3723C34.3845 12.4111 34.3752 12.455 34.3788 12.4989C34.3823 12.5428 34.3985 12.5847 34.4254 12.6196C34.4519 12.6548 34.4881 12.6815 34.5296 12.6964C34.5711 12.7113 34.6161 12.7138 34.659 12.7036C37.3695 12.0915 39.8986 10.8518 42.0427 9.08407C44.1867 7.31635 45.8859 5.07002 47.0035 2.52584C47.0314 2.48001 47.0706 2.44212 47.1173 2.41583C47.1641 2.38954 47.2168 2.37573 47.2705 2.37573C47.3241 2.37573 47.3769 2.38954 47.4236 2.41583C47.4704 2.44212 47.5096 2.48001 47.5375 2.52584C49.8398 6.9332 50.6168 11.9789 49.7468 16.8747ZM18.1718 24.1501C15.6633 24.1501 13.6277 26.184 13.6277 28.6942C13.6284 29.8992 14.1074 31.0546 14.9595 31.9066C15.8115 32.7586 16.9669 33.2376 18.1718 33.2383C20.682 33.2383 22.716 31.2028 22.716 28.6942V24.454C22.7123 24.3722 22.6781 24.2947 22.6202 24.2368C22.5623 24.1789 22.4849 24.1448 22.4031 24.1411L18.1718 24.1501Z" fill="#5C2D91" />
                </g>
                <defs>
                    <clipPath id="clip0_504_89">
                        <rect width="50" height="50" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <span>Blazor</span>
        </div>
    </div>
    <div class="other-area">
        <h2>Skills &amp; Tools</h2>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_504_91)">
                    <path d="M38.2812 0H11.7188C5.24666 0 0 5.24666 0 11.7188V38.2812C0 44.7533 5.24666 50 11.7188 50H38.2812C44.7533 50 50 44.7533 50 38.2812V11.7188C50 5.24666 44.7533 0 38.2812 0Z" fill="#953CAD" />
                    <path d="M38.1711 19.6616V22.2933H40.8027V19.6616H42.1185V22.2933H44.75V23.6091H42.1185V26.2405H44.75V27.5563H42.1185V30.188H40.8027V27.5563H38.1711V30.188H36.8553V27.5563H34.2238V26.2405H36.8553V23.6091H34.2238V22.2933H36.8553V19.6616H38.1711ZM40.8027 23.6091H38.1711V26.2405H40.8027V23.6091Z" fill="white" />
                    <path d="M23.8283 6.44531C30.6922 6.44531 36.6852 10.173 39.8949 15.7141L39.8637 15.6607L31.7877 20.3107C30.1967 17.6168 27.2797 15.7986 23.9336 15.7613L23.8283 15.7607C18.7256 15.7607 14.5889 19.8973 14.5889 24.9998C14.5872 26.6081 15.0074 28.1886 15.8074 29.5838C17.4 32.3641 20.3937 34.2395 23.8283 34.2395C27.2838 34.2395 30.2947 32.3402 31.8793 29.5303L31.8408 29.5977L39.9045 34.2691C36.7299 39.7633 30.8191 43.4795 24.035 43.5535L23.8283 43.5547C16.9426 43.5547 10.9326 39.8039 7.73086 34.2336C6.16777 31.5143 5.27344 28.3617 5.27344 24.9998C5.27344 14.7525 13.5805 6.44531 23.8283 6.44531Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_504_91">
                        <rect width="50" height="50" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <span>C#</span>
        </div>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.22187 42.5016L5.71094 3.125H44.2891L40.7734 42.4953L24.9766 46.875L9.22187 42.5016Z" fill="#E44F26" />
                <path d="M25 43.528L37.7656 39.989L40.7687 6.34521H25V43.528Z" fill="#F1662A" />
                <path d="M25 20.9483H18.6094L18.1688 16.003H25V11.1733H12.8906L13.0063 12.4702L14.1922 25.778H25V20.9483ZM25 33.4905L24.9781 33.4968L19.6 32.0452L19.2563 28.1937H14.4078L15.0844 35.7749L24.9781 38.5218L25 38.5155V33.4905Z" fill="#EBEBEB" />
                <path d="M24.9828 20.9483V25.778H30.9297L30.3703 32.0421L24.9828 33.4952V38.5202L34.8844 35.7749L34.9563 34.9593L36.0906 22.2452L36.2094 20.9483H34.9078H24.9828ZM24.9828 11.1733V16.003H36.6484L36.7453 14.9187L36.9656 12.4702L37.0813 11.1733H24.9828Z" fill="white" />
            </svg>
            <span>HTML/CSS</span>
        </div>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_504_87)">
                    <path d="M48.7254 22.804L27.1957 1.2751C25.9566 0.0352539 23.9457 0.0352539 22.7047 1.2751L18.2344 5.74619L23.9055 11.4173C25.2238 10.9724 26.7348 11.2708 27.7852 12.3212C28.841 13.3782 29.1371 14.9021 28.6813 16.2247L34.1469 21.6907C35.4691 21.2349 36.9953 21.5294 38.0508 22.5872C39.5274 24.0626 39.5274 26.4544 38.0508 27.9306C37.6999 28.2816 37.2833 28.5601 36.8247 28.7501C36.3662 28.9401 35.8747 29.0379 35.3783 29.0379C34.882 29.0379 34.3905 28.9401 33.9319 28.7501C33.4734 28.5601 33.0568 28.2816 32.7059 27.9306C32.1787 27.4031 31.8193 26.7314 31.673 26.0001C31.5267 25.2688 31.6 24.5105 31.8836 23.8208L26.7867 18.7239L26.7859 32.1384C27.1557 32.3205 27.4934 32.5617 27.7856 32.8524C29.2613 34.3278 29.2613 36.7188 27.7856 38.1974C26.3094 39.6728 23.9168 39.6728 22.4422 38.1974C20.9664 36.7192 20.9664 34.3282 22.4422 32.8524C22.7958 32.4983 23.2163 32.2181 23.6793 32.0282V18.4896C23.2159 18.3002 22.7953 18.0198 22.4422 17.6649C21.3242 16.5478 21.0551 14.9071 21.6285 13.5337L16.0375 7.94268L1.27501 22.7044C0.679426 23.3002 0.344849 24.1081 0.344849 24.9505C0.344849 25.7929 0.679426 26.6008 1.27501 27.1966L22.8051 48.7255C24.0449 49.9653 26.0551 49.9653 27.2969 48.7255L48.7258 27.2966C49.3212 26.7006 49.6557 25.8927 49.6556 25.0502C49.6555 24.2078 49.321 23.3998 48.7254 22.804Z" fill="#F34F29" />
                </g>
                <defs>
                    <clipPath id="clip0_504_87">
                        <rect width="50" height="50" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <span>Git</span>
        </div>
        <div class="info-item">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M45.3281 7.85932L36.3188 3.52182C35.81 3.27651 35.2375 3.19555 34.6806 3.29018C34.1238 3.38481 33.6101 3.65033 33.211 4.04995L3.71876 30.9374C3.36094 31.2621 3.14674 31.7157 3.1233 32.1983C3.09986 32.6809 3.26909 33.153 3.59376 33.5109C3.63283 33.5531 3.67189 33.5937 3.71408 33.6312L6.12189 35.8187C6.43652 36.1051 6.84151 36.2722 7.26652 36.291C7.69153 36.3098 8.10972 36.1792 8.44845 35.9218L43.9719 8.98432C44.2402 8.78072 44.56 8.65605 44.8954 8.62435C45.2307 8.59265 45.5682 8.65518 45.8699 8.8049C46.1716 8.95463 46.4256 9.18559 46.6032 9.47181C46.7807 9.75802 46.8749 10.0881 46.875 10.4249V10.3203C46.875 9.80604 46.7298 9.30228 46.4561 8.86692C46.1825 8.43157 45.7915 8.08231 45.3281 7.85932Z" fill="#0065A9" />
                <path d="M45.3281 42.1407L36.3188 46.4798C35.8098 46.7244 35.2375 46.805 34.6808 46.7104C34.1241 46.6158 33.6105 46.3507 33.211 45.9517L3.71876 19.0626C3.36094 18.7379 3.14674 18.2844 3.1233 17.8018C3.09986 17.3192 3.26909 16.847 3.59376 16.4892C3.63283 16.447 3.67189 16.4064 3.71408 16.3689L6.12189 14.1814C6.43684 13.8938 6.84276 13.7259 7.26882 13.7071C7.69488 13.6883 8.11403 13.8196 8.45314 14.0782L43.9719 41.0157C44.2402 41.2193 44.56 41.344 44.8954 41.3757C45.2307 41.4074 45.5682 41.3449 45.8699 41.1951C46.1716 41.0454 46.4256 40.8145 46.6032 40.5282C46.7807 40.242 46.8749 39.9119 46.875 39.5751V39.6876C46.8733 40.2005 46.7274 40.7025 46.4538 41.1363C46.1803 41.5701 45.7902 41.9182 45.3281 42.1407Z" fill="#007ACC" />
                <path d="M36.3187 46.4798C35.8098 46.7244 35.2375 46.805 34.6808 46.7104C34.1241 46.6158 33.6105 46.3507 33.2109 45.9517C33.4353 46.1731 33.7201 46.3234 34.0295 46.3837C34.3389 46.4441 34.6593 46.4117 34.9504 46.2908C35.2416 46.1698 35.4905 45.9656 35.6661 45.7038C35.8417 45.4419 35.9361 45.1341 35.9375 44.8189V5.18135C35.9378 4.86462 35.844 4.55493 35.6681 4.29152C35.4922 4.02811 35.2421 3.82283 34.9495 3.70169C34.6568 3.58054 34.3348 3.54898 34.0242 3.61101C33.7136 3.67304 33.4284 3.82585 33.2047 4.05011C33.6039 3.65064 34.1175 3.3851 34.6742 3.2902C35.231 3.19531 35.8035 3.27576 36.3125 3.52042L45.3203 7.85167C45.7851 8.07354 46.1777 8.42232 46.4528 8.85776C46.7279 9.2932 46.8743 9.79755 46.875 10.3126V39.6876C46.8751 40.2023 46.7298 40.7065 46.4559 41.1421C46.1819 41.5778 45.7904 41.9272 45.3266 42.1501L36.3187 46.4798Z" fill="#1F9CF0" />
            </svg>
            <span>Visual Studio Code</span>
        </div>
    </div>
</div>