@page "/result"
@inherits ViewBase
@inject NavigationManager NavigationManager
@inject ResultClientService ResultClientService
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
<div class="result-wrapper">
    <div class="result-container">
        <div class="congratulations">Congratulations! <img src="svgs/cracker.svg" /></div>
        <div class="score-area">
            <div class="score">@ResultClientService.GetScore()</div>
        </div>
        <div class="answer-area">
            <ul>
                @foreach (UserAnswer result in _userAnswers)
                {
                    <li>
                        <div>
                            <div class="word">@result.QuestionWord</div>
                            <div class="correct">Correct: @result.QuestionMeaning</div>
                            <div class="user-answer">Your choice: @result.AnswerMeaning</div>
                        </div>
                        <div class="status">
                            @if (result.QuestionMeaning == result.AnswerMeaning)
                            {
                                <img src="svgs/correct.svg" />
                            }
                            else
                            {
                                <img src="svgs/incorrect.svg" />
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="action-area">
            <button @onclick=@CloseButtonOnClick>Close</button>
            <button @onclick=@NextButtonOnClick>Next</button>
        </div>
    </div>
</div>