@page "/result"
@inherits PageBase
@inject NavigationManager NavigationManager
@inject IHttpClientService HttpClientService
<div class="result-wrapper">
    <div class="result-container">
        <div class="congratulations">Congratulations! <img src="svgs/cracker.svg" /></div>
        <div class="score-area">
            <div class="score">60</div>
        </div>
        <div class="answer-area">
            <ul>
                @foreach (ResultResponseDto result in _results)
                {
                    <li>
                        <div>
                            <div>@result.Word</div>
                            <div>You: @result.UserAnswer</div>
                            <div>Correct: @result.CorrectAnswer</div>
                        </div>
                        <div class="status">
                            @if (result.UserAnswer == result.CorrectAnswer)
                            {
                                <img src="svgs/correct.svg" />
                            }
                            else
                            {
                                <img src="svgs/incorrect.svg" />
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="action-area">
            <button class="close-btn" @onclick=@CloseButtonOnClick>Close</button>
        </div>
    </div>
</div>