@page "/settings"
@inject ISettingService SettingService
@inherits ViewBase
<div class="setting-wrapper">
    <div class="title">Settings</div>
    <ul class="setting-items">
        <li class="setting-item">
            <span>Silent mode</span>
            <ToggleSwitch @bind-IsSelected=@_isMute />
        </li>
        <li class="setting-item">
            <span>Number of questions</span>
            <input type="number" @bind=@_numberOfQuestion />
        </li>
    </ul>
    <button @onclick=SaveButtonOnClick>Save changes</button>
</div>