@page "/tmp"
@using EnglishMaster.Client.Authentication
@using System.Text.RegularExpressions
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject NavigationManager NavigationManager
<button type="button" @onclick=SignInAsync>Sign in with google</button>
@code {
    public async Task SignInAsync()
    {
        string siginUrl = @"https://accounts.google.com/o/oauth2/v2/auth?client_id=655163966196-6n5r6qmdthmmjluqnufv2s49g5ivatra.apps.googleusercontent.com&response_type=token&scope=profile+email&redirect_uri=https://localhost:7132/tmp";
        NavigationManager.NavigateTo(siginUrl);
    }

    protected override async Task OnInitializedAsync()
    {
        if (NavigationManager.Uri.Contains("#"))
        {
            string accessToken = Regex.Match(NavigationManager.Uri, "#.*&").Value.Split('=')[1];
            await CustomAuthenticationStateProvider.SignInWithGoogleAsync(accessToken);
            NavigationManager.NavigateTo("", true);
        }
    }
}
