<div class="nav-wrapper">
    <nav>
        <NavLink class="nav-link menu-fill" Match="NavLinkMatch.All" href="">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20 10C20 9.73478 19.8946 9.48043 19.7071 9.29289C19.5196 9.10536 19.2652 9 19 9C18.7348 9 18.4804 9.10536 18.2929 9.29289C18.1053 9.48043 18 9.73478 18 10H20ZM5.99999 10C5.99999 9.73478 5.89463 9.48043 5.7071 9.29289C5.51956 9.10536 5.26521 9 4.99999 9C4.73477 9 4.48042 9.10536 4.29288 9.29289C4.10535 9.48043 3.99999 9.73478 3.99999 10H5.99999ZM20.293 12.707C20.4816 12.8892 20.7342 12.99 20.9964 12.9877C21.2586 12.9854 21.5094 12.8802 21.6948 12.6948C21.8802 12.5094 21.9854 12.2586 21.9877 11.9964C21.9899 11.7342 21.8891 11.4816 21.707 11.293L20.293 12.707ZM12 3L12.707 2.293C12.5195 2.10553 12.2652 2.00021 12 2.00021C11.7348 2.00021 11.4805 2.10553 11.293 2.293L12 3ZM2.29299 11.293C2.19748 11.3852 2.1213 11.4956 2.06889 11.6176C2.01648 11.7396 1.98889 11.8708 1.98774 12.0036C1.98659 12.1364 2.01189 12.2681 2.06217 12.391C2.11245 12.5139 2.1867 12.6255 2.28059 12.7194C2.37449 12.8133 2.48614 12.8875 2.60904 12.9378C2.73193 12.9881 2.86361 13.0134 2.99639 13.0123C3.12917 13.0111 3.26039 12.9835 3.38239 12.9311C3.5044 12.8787 3.61474 12.8025 3.70699 12.707L2.29299 11.293ZM6.99999 22H17V20H6.99999V22ZM20 19V10H18V19H20ZM5.99999 19V10H3.99999V19H5.99999ZM21.707 11.293L12.707 2.293L11.293 3.707L20.293 12.707L21.707 11.293ZM11.293 2.293L2.29299 11.293L3.70699 12.707L12.707 3.707L11.293 2.293ZM17 22C17.7956 22 18.5587 21.6839 19.1213 21.1213C19.6839 20.5587 20 19.7956 20 19H18C18 19.2652 17.8946 19.5196 17.7071 19.7071C17.5196 19.8946 17.2652 20 17 20V22ZM6.99999 20C6.73477 20 6.48042 19.8946 6.29288 19.7071C6.10535 19.5196 5.99999 19.2652 5.99999 19H3.99999C3.99999 19.7956 4.31606 20.5587 4.87867 21.1213C5.44128 21.6839 6.20434 22 6.99999 22V20Z" />
            </svg>
            <span>Home</span>
        </NavLink>
        <NavLink class="nav-link menu-stroke" href="study">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.5 2H4.5C4.23478 2 3.98043 2.10536 3.79289 2.29289C3.60536 2.48043 3.5 2.73478 3.5 3V21C3.5 21.2652 3.60536 21.5196 3.79289 21.7071C3.98043 21.8946 4.23478 22 4.5 22H18.5C18.7652 22 19.0196 21.8946 19.2071 21.7071C19.3946 21.5196 19.5 21.2652 19.5 21V10.0025"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.5 9H10.5M6.5 14H12.5" stroke-width="2" stroke-linecap="round" />
                <path d="M20.5 3.0005L14.5015 8.998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>Study</span>
        </NavLink>
        <NavLink class="nav-link menu-stroke" href="info">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 16V12M12 8H12.01" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>Info</span>
        </NavLink>
        <NavLink class="nav-link menu-stroke" href="dictionary">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.4286 23.1429H5.14287C4.46088 23.1429 3.80683 22.8719 3.3246 22.3897C2.84236 21.9075 2.57144 21.2534 2.57144 20.5714C2.57144 19.8894 2.84236 19.2354 3.3246 18.7532C3.80683 18.2709 4.46088 18 5.14287 18H19.7143M19.7143 18C20.169 18 20.605 17.8194 20.9265 17.4979C21.248 17.1764 21.4286 16.7404 21.4286 16.2857V2.57143C21.4286 2.11678 21.248 1.68074 20.9265 1.35925C20.605 1.03776 20.169 0.857147 19.7143 0.857147H5.14287C4.4726 0.856909 3.82873 1.11839 3.34842 1.5859C2.8681 2.0534 2.58932 2.68997 2.57144 3.36V20.5029M19.7143 18V23.1429"
                    stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M13.8017 8.57487H17.772L13.5549 14.5286H18.0189M6.0206 10.2617L7.84803 4.77773C7.89367 4.64103 7.98112 4.52214 8.09802 4.43785C8.21491 4.35356 8.35534 4.30814 8.49946 4.30801C8.79603 4.30801 9.06003 4.49659 9.15431 4.77773L10.9817 10.2617M6.68231 8.27659H10.32"
                    stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>Dictionary</span>
        </NavLink>
    </nav>
</div>