<div class="nav-wrapper">
    <nav>
        <NavLink class="nav-link" Match="NavLinkMatch.All" href="">Home</NavLink>
        <NavLink class="nav-link">Study</NavLink>
        <NavLink class="nav-link">Summary</NavLink>
        <NavLink class="nav-link">Dictionary</NavLink>
    </nav>
</div>