.nav-wrapper {
    width: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    background-color: var(--app-primary-800);
}

nav {
    width: 100%;
    margin: auto;
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

::deep .nav-link {
    font-size: .8rem;
    text-decoration: none !important;
    color: var(--app-primary-400) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::deep .nav-link.active {
    color: var(--app-primary-100) !important;
}

.nav-link>span {
    padding-top: 5px;
}

::deep .menu-fill {
    fill: var(--app-primary-400) !important;
}

::deep .menu-fill.active {
    fill: var(--app-primary-100) !important;
}

::deep .menu-stroke {
    stroke: var(--app-primary-400) !important;
}

::deep .menu-stroke.active {
    stroke: var(--app-primary-100) !important;
}